<div class="panel panel-default">
  <div class="panel-heading">Surveys</div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-6">
        <div class="panel panel-warning thumbnail">
          <div class="panel-heading">
            Sample Survey
          </div>
          <div class="panel-body">
            <canvas id="sample-chart"></canvas>
          </div>
        </div>
      </div>
      <%= render @surveys %>
    </div>
  </div>
</div>

<%- content_for(:javascript) do %>
  <script>
var data = {
  labels: <%= raw JSON.generate(Survey::QUESTIONS.values) %>,
  datasets: [{
    backgroundColor: "rgba(179,181,198,0.2)",
    borderColor: "rgba(179,181,198,1)",
    pointBackgroundColor: "rgba(179,181,198,1)",
    pointBorderColor: "#fff",
    pointHoverBackgroundColor: "#fff",
    pointHoverBorderColor: "rgba(179,181,198,1)",
    data: <%= raw JSON.generate(Survey::QUESTIONS.map { rand(3) + 2 }) %>
}]
}

var options = {
  labels: {
    display: false,
  },
  legend: {
    display: false,
  },
  scale: {
    ticks: {
      display: false,
      max: 4,
      min: 0
    }
  }
}

new Chart("sample-chart", {
  type: "radar",
  data: data,
  options: options
})
  </script>
<%- end %>
