<p class="lead">
We'd like to try to measure changes in answers, so we need to know who
you are. We are looking for your thoughts on how the Workshop Pilot went
and how it can be improved. Be as concise or thorough as you'd like.
</p>

<div id="surveyContainer">
  <survey :survey="survey"></survey>
</div>

<%- content_for(:javascript) do %>
  <script>
     <%= render 'survey.js' %>
  </script>
<%- end %>
