<div class="jumbotron">
  <h2>Which survey are you here to take?</h2>
  <div>
<%= link_to 'WorkshopRegistration', new_survey_path(type: 'WorkshopRegistration'), class: "btn btn-large btn-primary" %>
<%= link_to 'FourWeekFeedback', new_survey_path(type: 'FourWeekFeedback'), class: "btn btn-large btn-primary" %>
<div>
</div>
