<div class="jumbotron">
  <h2>Which survey are you here to take?</h2>
  <div>
    <%- @survey_types_not_taken.each do |survey_type| %>
      <%= link_to survey_type.underscore.humanize.titleize, new_survey_path(type: survey_type), class: "btn btn-large btn-primary" %>
    <%- end %>
  </div>
</div>
