<div class="page-header">
  <h3 class="text-muted">Workshop Registration</h3>
</div>

<div class="well">
  <div id="surveyContainer">
    <survey :survey="survey"></survey>
  </div>
</div>

<%- content_for(:javascript) do%>
  <%=javascript_include_tag 'survey' %>
<%- end %>
