<div class="page-header">
  <h3 class="text-muted">
    Workshop Registration
    <br/>
    <small>Eight topics • Eight weeks • Two 30 minute sessions per week </small>
  </h3>
</div>
<%# <p class="lead"> %>
<%#   For the pilot program we are looking to fill out a couple of groups. %>
<%#   Each group will be comprised of four individuals, from different teams, with varying levels of experience. %>
<%# </p> %>

<div id="surveyContainer">
  <survey :survey="survey"></survey>
</div>

<%- content_for(:javascript) do%>
  <%=javascript_include_tag 'survey' %>
<%- end %>
