var surveyJson = { title: "Workshop Registration",
  cookieName: "_workshop_registration_session",
  showProgressBar: "top",
  showQuestionNumbers: "false",
  pages: [
    { questions: [
      { type: "text", name: "name", isRequired: true, title: "Name"},
      { type: "text", name: "email", isRequired: true, validators: [{type:"email"}], title: "Email"}
    ]},
    {
      title: "We are looking to fill out the pilot with folks with all levels of experience.",
      questions: [
      { type: "matrix", name: "data", title: "Rate your familiarity with the following concepts:",
        columns: [
          { value: 1, text: "Huh?" },
          { value: 2, text: " " },
          { value: 3, text: "Surface Level" },
          { value: 4, text: " " },
          { value: 5, text: "Evil Genius" }],
        rows: <%= raw JSON.generate(Survey.surveyjs_matrix_questions) %>
      }
    ]}
  ]
};

var mycustomSurveyStrings = {
  requiredError: "required"
};

Survey.surveyLocalization.locales["en"] = mycustomSurveyStrings;
Survey.defaultBootstrapCss.navigationButton = "btn btn-primary";
Survey.defaultBootstrapCss.footer = "panel-footer text-center";
Survey.Survey.cssType = "bootstrap";

var survey = new Survey.Model(surveyJson);
survey.locale = "en";
survey.onComplete.add(sendDataToServer);
survey.onComplete.add(removeParentWell);
survey.completedHtml = '<div class="alert alert-success" role="alert">Thanks for registering. Keep an eye out for details in the coming weeks.</div>'
survey.showTitle = false;
survey.showPageTitles = true;

var app = new Vue({
  el: '#surveyContainer',
  data: {
    survey: survey
  },
  methods: {
  }
});

$(document).ready(function() {
  if (survey.isCompleted !== true) {
    $("#surveyContainer").addClass("well");
  }
});

function removeParentWell() {
  $("#surveyContainer").removeClass("well");
}

function sendDataToServer(survey) {
  var surveyData = survey.data;
  if (JSON.stringify(surveyData) === JSON.stringify({})) {
    surveyData = {empty: true};
  }
  $.ajax({
    method: "POST",
    headers: {'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')},
    url: "/surveys",
    data: {'survey': surveyData}
  }).done(function(html) {
    return $("#results").append(html);
  })
}
